.clauses-view {
   padding: 10px;
   background: #eee;
   margin-top: 20px;
}

.clauses-view label {
   display: block;
   margin-bottom: 10px;
}

.clauses-view input {
   width: auto;
   margin-right: 4px;
   position: relative;
   top: 2px;
}
