.config-view {
   margin-bottom: 20px;
}

.config-view .expand {
   margin-bottom: 20px;
   cursor: pointer;
   color: brown;
   font-weight: bold;
}

.config-view section {
   padding: 20px;
   padding-bottom: 1px;
   background: #eee;
}

.config-view .description {
   display: block;
   margin-bottom: 6px;
}

.config-view input[type=radio] {
   width: auto;
}