.config-view {
   margin-bottom: 20px;
}

.config-view .expand {
   margin-bottom: 20px;
   cursor: pointer;
   color: brown;
   font-weight: bold;
}

.config-view section {
   padding: 20px;
   padding-bottom: 0px;
   background: #eee;
   background: #333;
   color: white;
   border-radius: 5px;
}

.config-view input[type=radio] {
   width: auto;
}