.config-view {
   margin-bottom: 20px;
}

.config-view .expand {
   margin-bottom: 20px;
   cursor: pointer;
   color: brown;
   font-weight: bold;
}

.config-view section {
   padding: 20px;
   background: #eee;
}