.node-view {
   border: 1px solid #ccc;
   margin: 0;
   margin-bottom: 70px;
   padding: 30px;
   position: relative;
   border-radius: 5px;
   overflow: hidden;
}

.node-view .node-view {
   background: lightgoldenrodyellow;
   margin-bottom: 0px;
   margin-top: 30px;
}

.node-view .node-view .node-view {
   background: #f9f99d;
}

.node-view .buttons {
   text-align: right;
   background: #eee;
   padding: 20px 30px;
   margin: -30px;
   margin-bottom: 20px;
}

.node-view .buttons button {
   margin-left: 10px;
}

.node-view .debugger {
   background: black;
   color: lime;
   width: 33%;
   box-sizing: border-box;
   white-space: pre;
   padding: 10px;
   color: lime;
   font-family: monospace;
   position: absolute;
   top: 70px;
   right: 0;
   overflow-x: auto;
   height: 245px;
}

.node-view .input-wrapper {
   padding-bottom: 20px;
}

.node-view .input-wrapper label {
   margin-bottom: 6px;
   display: block;
}

.node-view input,
.node-view select {
   width: 100%;
   box-sizing: border-box;
}

.node-view .left {
   float: left;
   width: 33%;
   padding-right: 50px;
   box-sizing: border-box;
}

.node-view .clauses {
   padding-top: 20px;
   clear: both;
}

.node-view .clauses .expand {
   cursor: pointer;
   color: brown;
   font-weight: bold;
   font-size: 16px;
}

.node-view .clauses .container {
   display: none;
}

.node-view .children {
   margin-top: 30px;
   display: none;
}

.node-view .children h2 {
   margin: 0px;
   font-size: 26px;
   margin-bottom: -20px;
}