.nodes-list-view header {
   background: deepskyblue;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 2;
   padding: 10px 30px;
}

.nodes-list-view .loading {
   background: yellow;
   text-align: center;
   padding: 5px;
   margin-bottom: 20px;
}

.nodes-list-view .no-nodes-yet {
   display: none;
}

.nodes-list-view .list {
   margin: 0;
}