.nodes-list-view {
   padding-top: 60px;
}

.nodes-list-view header.main-header {
   background: deepskyblue;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 2;
   padding: 15px 30px;
}

.nodes-list-view header button {

}

.nodes-list-view header .save {
   margin-left: 10px;
}

.nodes-list-view .loading {
   background: yellow;
   text-align: center;
   padding: 10px;
}

.nodes-list-view .no-nodes-yet {
   display: none;
   text-align: center;
   padding: 10px;
}

.nodes-list-view .list {
   margin: 0;
   padding: 30px 30px 0px 30px;
}

footer {
   padding: 30px 30px;
   padding-top: 0;
}