.node-view {
   border: 1px solid #ccc;
   margin: 0;
   margin-bottom: 35px;
   padding: 20px;
   position: relative;
}

.node-view .debugger {
   background: black;
   color: lime;
   width: 33%;
   box-sizing: border-box;
   white-space: pre;
   padding: 10px;
   color: lime;
   font-family: monospace;
   position: absolute;
   top:0;
   right: 0;
   overflow-x: auto;
}

.node-view .input-wrapper {
   margin-bottom: 20px;
}

.node-view .input-wrapper label {
   margin-bottom: 5px;
   display: block;
}

.node-view input,
.node-view select {
   width: 100%;
   box-sizing: border-box;
}

.node-view .left {
   float: left;
   width: 33%;
   padding-right: 50px;
   box-sizing: border-box;
}

.node-view .clauses {
   margin-top: 20px;
   clear: both;
}

.node-view .clauses .expand {
   cursor: pointer;
}

.node-view .clauses .container {
   display: none;
}

.node-view .buttons {
   margin-top: 20px;
   text-align: right;
}