<div class="config-view number-config-view">

   <button class="expand btn"></button>

   <section>
      <div class="form-group">
         <label>Default</label>
         <input type='text' name="default" class='default form-control' />
      </div>

      <div class="form-group">
         <label>Min</label>
         <input type='text' name="min" class='min form-control' />
      </div>

      <div class="form-group">
         <label>Max</label>
         <input type='text' name="max" class='max form-control' />
      </div>
   </section>

</div>