<div class="config-view radio-config-view">

   <header class="expand"></header>

   <div class="input-wrapper prototype" style="display: none">
      <input type="text" class="label" placeholder="label" />
      <input type="text" class="value" placeholder="value" />
      <span class="remove-choice">remove (-)</span>
   </div>

   <section>
      <div class="input-wrapper">
         <label>Default</label>
         <input type="text" class="default" />
      </div>

      <div class="input-wrapper">
         <label>Validation type</label>
         <select class="validation">
            <option value="-">-</option>
            <option value="required">required</option>
         </select>
      </div>

      <span class="add-choice">Add a choice (+)</span>

      <div class="radios"></div>

   </section>



</div>