<div class="config-view radio-config-view">

   <button class="expand btn"></button>

   <div class="prototype choice-box" style="display: none">
      <div class="form-group">
         <label>Label</label>
         <input type="text" name="choice-label" class="choice-label form-control" />
      </div>
      <div class="form-group">
         <label>Value</label>
         <input type="text" name="choice-value" class="choice-value form-control" />
      </div>    
      <span class="remove-choice">remove (-)</span>
   </div>

   <section>
      <div class="form-group">
         <label>Default</label>
         <input type="text" name="default" class="default form-control" />
      </div>

      <div class="form-group">
         <label>Validation type</label>
         <select name="validation" class="validation form-control">
            <option value="-">-</option>
            <option value="required">required</option>
         </select>
      </div>

      <div class="radios"></div>

      <span class="add-choice">Add a choice (+)</span>

   </section>

</div>