<div class="config-view text-config-view">

   <button class="expand btn"></button>

   <section>

      <div class="form-group">
         <label>Validation type</label>
         <select name="validation" class="validation form-control">
            <option value="-">-</option>
            <option value="required">required</option>
         </select>
      </div>

      <div class="form-group">
         <label>Default</label>
         <input type='text' name="default" class='default form-control' />
      </div>
   </section>

</div>