.main-view {
   position: relative;
}

.main-view input.error,
.main-view select.error {
   border-color: red;
   background: pink;
}

.main-view header.main-header {
   background: deepskyblue;
   width: 100%;
   z-index: 2;
   padding: 15px 30px;
}

.main-view header button {

}

.main-view header .save {
   margin-left: 10px;
   visibility: hidden;
}

.main-view .loading {
   background: yellow;
   text-align: center;
   padding: 10px;
}

.main-view .no-nodes-yet {
   display: none;
   text-align: center;
   padding: 10px;
}

.main-view .list {
   margin: 0;
   padding: 30px 30px 0px 30px;
}

footer {
   padding: 30px 30px;
   padding-top: 0;
}