.node-view {
   position: relative;
   overflow: hidden;
   margin: 30px 0;
   border: 1px solid #ccc;
   padding: 30px;
}

.node-view.collapsed {
   height: 94px;
}

.node-view .node-view {
   background: lightgoldenrodyellow;
   margin-bottom: 0px;
   margin-top: 30px;
}

.node-view .node-view .node-view {
   background: #f9f99d;
}

.node-view .node-view .node-view .node-view {
   background: #f9f978;
}

.node-view .node-view .node-view .node-view .node-view {
   background: #ffff58;
}

.node-view nav {
   margin-bottom: 30px;
}

.node-view nav .type-label {
      
   em {
      font-size: 16px;
      font-style: normal;
      background: brown;
      color: white;
      padding: 3px 6px;
      display: none;
      margin-right: 10px;
   }
}

.node-view nav .name-label {
   font-weight: bold;
   font-size: 18px;
}

.node-view  input.error,
.node-view  select.error {
   background: pink;
}

.node-view .name-label {
   line-height: 38px;
}

.node-view .debugger {
   background: black;
   color: lime;
   display: block;
   display: block;
   box-sizing: border-box;
   white-space: pre;
   padding: 10px;
   color: lime;
   font-family: monospace;
   overflow-x: auto;
   height: 245px;
   margin-bottom: 30px;
}

.node-view .clauses .box {
   display: none;
}

.node-view .node-views, 
.node-view .value-views {
   display: none;
}