<div class="node-view" data-node-view-id="<%= id %>">

   <div class="buttons">
      <button class="add">Add child node</button>
      <button class="delete">Delete</button>
   </div>

   <div class="debugger"></div>

   <div class="left">

      <div class="input-wrapper">
         <label>Name</label>
         <input type='text' class='name' />
      </div>

      <div class="input-wrapper">
         <label>Type</label>
         <select class='type'>
            <option value="-">-</option>
            <option value="checkbox">checkbox</option>
            <option value="radio">radio</option>
            <option value="text">text</option>
            <option value="number">number</option>
         </select>
      </div>

      <div class="config"></div>

   </div>

   <div class="left">

      <div class="input-wrapper">
         <label>Title (IT)</label>
         <input type='text' class='title_it' />
      </div>

      <div class="input-wrapper">
         <label>Title (EN)</label>
         <input type='text' class='title_en' />
      </div>

      <div class="input-wrapper">
         <label>Title (DE)</label>
         <input type='text' class='title_de' />
      </div>

   </div>

   <div class="clauses">
      <span class="expand"></span>
      <div class="container"></div>   
   </div>

   <div class="children">
      <h2>Child nodes</h2>
      <div class="container"></div>
   </div>

</div>