<div class="node-view container-fluid" data-node-view-id="<%= id %>">

   <nav class="row node-info">

      <div class="col-md-6">
         <span class="type-label">
            <em class="type-node">node</em>
            <em class="type-value">value</em>
            <em class="type-radio-group">radio group</em>
         </span>
         <span class="title-label"></span>
      </div>

      <div class="buttons text-right col-md-6">
         <button class="up btn">Move Up</button>
         <button class="down btn">Move Down</button>
         <button class="add-child-node btn">Add child node</button>
         <button class="add-value-input btn">Add value input</button>
         <button class="add-group btn">Add radio group</button>
         <button class="reparent btn">Reparent</button>
         <button class="delete btn">Delete</button>
      </div>

   </nav>

   <div class="debugger row"></div>

   <div class="row">

      <div class="col-md-4">
         <div class="form-group">
            <label>Type</label>
            <select name="type" class='type form-control'>
               <option value="-">-</option>
               <option value="checkbox">checkbox</option>
               <option value="radio">radio</option>
               <option value="text">text</option>
               <option value="number">number</option>
            </select>
         </div>

         <div class="config"></div>
      </div>

      <div class="col-md-4">
         <div class="form-group">
            <label>Title (IT)</label>
            <input name="title_it" type='text' class='title_it form-control' />
         </div>

         <div class="form-group">
            <label>Title (EN)</label>
            <input name="title_en" type='text' class='title_en form-control' />
         </div>

         <div class="form-group">
            <label>Title (DE)</label>
            <input name="title_de" type='text' class='title_de form-control' />
         </div>
      </div>

   </div>

   <div class="clauses">
      <button class="expand btn"></button>
      <div class="box"></div>
   </div>

   <div class="value-views">
      <div class="box"></div>
   </div>

   <div class="node-views">
      <div class="box"></div>
   </div>

</div>