.radio-config-view {

   .radios {
      
      margin-top: 30px;
      
      .choice-box {
         margin-bottom: 30px;
      }   
   }
}

.radio-config-view .add-choice {
   margin-top: 30px;
   display: block;
}

.radio-config-view .add-choice, 
.radio-config-view .remove-choice {
   cursor: pointer;
}

.radio-config-view .radios input {
   margin-bottom: 6px;
}